{% if tasks|length >= 1  %}

<table>
    <tr>
        <th>Id</th>
        <th>Tarea</th>
        <th>Prioridad</th>
        <th>Horas Presupuestadas</th>
        <th>Estado</th>
        <th>Asignada a</th>
        <th>Acciones</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><b>{{ task.id }}</b></td>
            <td>{{ task.title }}</td>
            <td>
                {% if task.priority == 'high' %}
                    {{ '<strong class="prioridad_alta">Alta</strong>' }}
                {% endif %}

                {% if task.priority == 'medium' %}
                    {{ '<strong class="prioridad_media">Media</strong>' }}
                {% endif %}

                {% if task.priority == 'low' %}
                    {{ '<strong class="prioridad_baja">Baja</strong>' }}
                {% endif %}
            </td>
            <td>{{ task.hours }}</td>
            <td>
                {% if task.state == 'no-asign' or task.state == '' %}
                    {{ 'Pendiente' }}
                {% endif %}

                {% if task.state == 'in-course' %}
                    {{ 'En Curso' }}
                {% endif %}

                {% if task.state == 'finished' %}
                    {{ 'Finalizada' }}
                {% endif %}
            </td>
            <td>
                {{ task.user.surname }}, {{ task.user.name }}
            </td>
            <td class="buttons">
                <a href="{{ path('task_detail', {'id':task.id}) }}" class="btn-view">Ver</a>
                {% if app.user != null and task.user.id == app.user.id %}
                    <a href="{{ path('task_edit', {'id':task.id}) }}" class="btn-edit">Editar</a>
                    <a href="{{ path('task_delete', {'id':task.id}) }}" class="btn-delete">Borrar</a>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
</table>
{% else %}
    <strong>No hay Tareas Disponibles</strong>
{% endif %}